* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 16px;

  a {
    // color: #337ab7;
    text-decoration: none;
  }

  a:-webkit-any-link {
    cursor: pointer;
  }
}
