* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: Calibri; /* Гарнитура шрифта */
  src: url("./assets/Calibri.ttf"); /* Путь к файлу со шрифтом */
 }

html {
  position: relative;
  height: 100%;
}
body {
  font-family: Calibri;
  font-size: 16px;
  height: 100%;

  #body {
    max-width: 935px;
    padding: 60px 20px 20px;
    margin: 0 auto;
  }

  a {
    // color: #337ab7;
    text-decoration: none;
  }

  a:-webkit-any-link {
    cursor: pointer;
  }
}
